<div class="page-header">
  <h3>Net Worth #<%= @net_worth.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Asset total</dt>
      <dd>
        <% if @net_worth.asset_total.present? %>
          <a href="/assets/<%= @net_worth.asset_total_id %>">
            <%= @net_worth.asset_total.stocks_and_stock_funds %>
          </a>
        <% end %>
      </dd>

      <dt>Liabilities total</dt>
      <dd>
        <% if @net_worth.liabilities_total.present? %>
          <a href="/liabilities/<%= @net_worth.liabilities_total_id %>">
            <%= @net_worth.liabilities_total.mortgage %>
          </a>
        <% end %>
      </dd>

      <dt>Calculated net worth</dt>
      <dd><%= @net_worth.calculated_net_worth %></dd>

      <dt>User</dt>
      <dd>
        <% if @net_worth.user.present? %>
          <a href="/users/<%= @net_worth.user_id %>">
            <%= @net_worth.user.age %>
          </a>
        <% end %>
      </dd>

      <dt>Net worth date</dt>
      <dd><%= @net_worth.net_worth_date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/net_worths" class="btn btn-primary">
        Back
      </a>
      <a href="/net_worths/<%= @net_worth.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_net_worth/<%= @net_worth.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
