<div class="page-header">
  <h3>Retirement Calculation #<%= @retirement_calculation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Assumptions</dt>
      <dd>
        <% if @retirement_calculation.assumptions.present? %>
          <a href="/retirement_assumptions/<%= @retirement_calculation.assumptions_id %>">
            <%= @retirement_calculation.assumptions.age_id %>
          </a>
        <% end %>
      </dd>

      <dt>Calculation by month</dt>
      <dd><%= @retirement_calculation.calculation_by_month %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/retirement_calculations" class="btn btn-primary">
        Back
      </a>
      <a href="/retirement_calculations/<%= @retirement_calculation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_retirement_calculation/<%= @retirement_calculation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Retirement calculation has many user -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User
      </li>

      <% @retirement_calculation.user.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.age %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
