<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Age</dt>
      <dd><%= @user.age %></dd>

      <dt>First name</dt>
      <dd><%= @user.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @user.last_name %></dd>

      <dt>Individual retirement goal</dt>
      <dd><%= @user.individual_retirement_goal %></dd>

      <dt>Annual savings</dt>
      <dd><%= @user.annual_savings %></dd>

      <dt>Current income</dt>
      <dd><%= @user.current_income %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many net_worths -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Net_worths
      </li>

      <% @user.net_worths.each do |net_worth| %>
        <li class="list-group-item">
          <a href="/net_worths/<%= net_worth.id %>">
            <%= net_worth.asset_value_total_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/net_worths/<%= net_worth.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/net_worths/<%= net_worth.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_net_worth/<%= net_worth.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many retirement_assumptions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Retirement_assumptions
      </li>

      <% @user.retirement_assumptions.each do |retirement_assumption| %>
        <li class="list-group-item">
          <a href="/retirement_assumptions/<%= retirement_assumption.id %>">
            <%= retirement_assumption.age_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/retirement_assumptions/<%= retirement_assumption.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/retirement_assumptions/<%= retirement_assumption.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_retirement_assumption/<%= retirement_assumption.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many assets -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Assets
      </li>

      <% @user.assets.each do |asset| %>
        <li class="list-group-item">
          <a href="/assets/<%= asset.id %>">
            <%= asset.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/assets/<%= asset.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/assets/<%= asset.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_asset/<%= asset.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many liabilities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Liabilities
      </li>

      <% @user.liabilities.each do |liability| %>
        <li class="list-group-item">
          <a href="/liabilities/<%= liability.id %>">
            <%= liability.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/liabilities/<%= liability.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/liabilities/<%= liability.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_liability/<%= liability.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many retirement_calculations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Retirement_calculations
      </li>

      <% @user.retirement_calculations.each do |retirement_calculation| %>
        <li class="list-group-item">
          <a href="/retirement_calculations/<%= retirement_calculation.id %>">
            <%= retirement_calculation.assumptions_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/retirement_calculations/<%= retirement_calculation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/retirement_calculations/<%= retirement_calculation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_retirement_calculation/<%= retirement_calculation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many historical_net_worths -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Historical_net_worths
      </li>

      <% @user.historical_net_worths.each do |historical_net_worth| %>
        <li class="list-group-item">
          <a href="/historical_net_worths/<%= historical_net_worth.id %>">
            <%= historical_net_worth.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/historical_net_worths/<%= historical_net_worth.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/historical_net_worths/<%= historical_net_worth.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_historical_net_worth/<%= historical_net_worth.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
