<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Age</dt>
      <dd><%= @user.age %></dd>

      <dt>First name</dt>
      <dd><%= @user.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @user.last_name %></dd>

      <dt>Individual retirement goal</dt>
      <dd><%= @user.individual_retirement_goal %></dd>

      <dt>Annual savings</dt>
      <dd><%= @user.annual_savings %></dd>

      <dt>Current income</dt>
      <dd><%= @user.current_income %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A User has many net_worths -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Net_worths
      </li>

      <% @user.net_worths.each do |net_worth| %>
        <li class="list-group-item">
          <a href="/net_worths/<%= net_worth.id %>">
            <%= net_worth.asset_value_total_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/net_worths/<%= net_worth.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/net_worths/<%= net_worth.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_net_worth/<%= net_worth.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_net_worth" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for asset_value_total_id -->
      <div class="form-group">
        <label for="asset_value_total_id" class="control-label">
          Asset value total
        </label>

        <%= select_tag(:asset_value_total_id, options_from_collection_for_select(Asset.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for liabilities_value_total_id -->
      <div class="form-group">
        <label for="liabilities_value_total_id" class="control-label">
          Liabilities value total
        </label>

        <%= select_tag(:liabilities_value_total_id, options_from_collection_for_select(Liability.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for net_worth_total_id -->
      <div class="form-group">
        <label for="net_worth_total_id" class="control-label">
          Net worth total
        </label>

        <input type="text" id="net_worth_total_id" name="net_worth_total_id" placeholder="Net worth total" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= @user.id %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Net Worth
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A User has many retirement_assumptions -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Retirement_assumptions
      </li>

      <% @user.retirement_assumptions.each do |retirement_assumption| %>
        <li class="list-group-item">
          <a href="/retirement_assumptions/<%= retirement_assumption.id %>">
            <%= retirement_assumption.age_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/retirement_assumptions/<%= retirement_assumption.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/retirement_assumptions/<%= retirement_assumption.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_retirement_assumption/<%= retirement_assumption.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_retirement_assumption" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for age_id -->
      <div class="form-group">
        <label for="age_id" class="control-label">
          Age
        </label>

        <input type="text" id="age_id" name="age_id" placeholder="Age" class="form-control" value="">
      </div>

      <!-- Label and input for last_year_saving_id -->
      <div class="form-group">
        <label for="last_year_saving_id" class="control-label">
          Last year saving
        </label>

        <input type="text" id="last_year_saving_id" name="last_year_saving_id" placeholder="Last year saving" class="form-control" value="">
      </div>

      <!-- Label and input for investment_return -->
      <div class="form-group">
        <label for="investment_return" class="control-label">
          Investment return
        </label>

        <input type="text" id="investment_return" name="investment_return" placeholder="Investment return" class="form-control" value="">
      </div>

      <!-- Label and input for inflation -->
      <div class="form-group">
        <label for="inflation" class="control-label">
          Inflation
        </label>

        <input type="text" id="inflation" name="inflation" placeholder="Inflation" class="form-control" value="">
      </div>

      <!-- Label and input for increase_in_savings -->
      <div class="form-group">
        <label for="increase_in_savings" class="control-label">
          Increase in savings
        </label>

        <input type="text" id="increase_in_savings" name="increase_in_savings" placeholder="Increase in savings" class="form-control" value="">
      </div>

      <!-- Label and input for annual_savings -->
      <div class="form-group">
        <label for="annual_savings" class="control-label">
          Annual savings
        </label>

        <input type="text" id="annual_savings" name="annual_savings" placeholder="Annual savings" class="form-control" value="">
      </div>

      <!-- Label and input for initial_savings -->
      <div class="form-group">
        <label for="initial_savings" class="control-label">
          Initial savings
        </label>

        <input type="text" id="initial_savings" name="initial_savings" placeholder="Initial savings" class="form-control" value="">
      </div>

      <!-- Label and input for retirement_income -->
      <div class="form-group">
        <label for="retirement_income" class="control-label">
          Retirement income
        </label>

        <input type="text" id="retirement_income" name="retirement_income" placeholder="Retirement income" class="form-control" value="">
      </div>

      <!-- Label and input for retirement_age -->
      <div class="form-group">
        <label for="retirement_age" class="control-label">
          Retirement age
        </label>

        <input type="text" id="retirement_age" name="retirement_age" placeholder="Retirement age" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= @user.id %>">

      <button class="btn btn-block btn-success">
        Create Retirement Assumption
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A User has many assets -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Assets
      </li>

      <% @user.assets.each do |asset| %>
        <li class="list-group-item">
          <a href="/assets/<%= asset.id %>">
            <%= asset.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/assets/<%= asset.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/assets/<%= asset.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_asset/<%= asset.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_asset" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for asset_type_id -->
      <div class="form-group">
        <label for="asset_type_id" class="control-label">
          Asset type
        </label>

        <%= select_tag(:asset_type_id, options_from_collection_for_select(AssetType.all, :id, :checking_account), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= @user.id %>">

      <!-- Label and input for asset_value -->
      <div class="form-group">
        <label for="asset_value" class="control-label">
          Asset value
        </label>

        <input type="text" id="asset_value" name="asset_value" placeholder="Asset value" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Asset
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A User has many liabilities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Liabilities
      </li>

      <% @user.liabilities.each do |liability| %>
        <li class="list-group-item">
          <a href="/liabilities/<%= liability.id %>">
            <%= liability.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/liabilities/<%= liability.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/liabilities/<%= liability.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_liability/<%= liability.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_liability" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for liabilities_value_total_id -->
      <div class="form-group">
        <label for="liabilities_value_total_id" class="control-label">
          Liabilities value total
        </label>

        <input type="text" id="liabilities_value_total_id" name="liabilities_value_total_id" placeholder="Liabilities value total" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= @user.id %>">

      <!-- Label and input for liabilities_type_id -->
      <div class="form-group">
        <label for="liabilities_type_id" class="control-label">
          Liabilities type
        </label>

        <%= select_tag(:liabilities_type_id, options_from_collection_for_select(LiabilityType.all, :id, :mortgage), :class => "form-control") %>
      </div>

      <!-- Label and input for liabilities_value -->
      <div class="form-group">
        <label for="liabilities_value" class="control-label">
          Liabilities value
        </label>

        <input type="text" id="liabilities_value" name="liabilities_value" placeholder="Liabilities value" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Liability
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A User has many retirement_calculations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Retirement_calculations
      </li>

      <% @user.retirement_calculations.each do |retirement_calculation| %>
        <li class="list-group-item">
          <a href="/retirement_calculations/<%= retirement_calculation.id %>">
            <%= retirement_calculation.assumptions_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/retirement_calculations/<%= retirement_calculation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/retirement_calculations/<%= retirement_calculation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_retirement_calculation/<%= retirement_calculation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many historical_net_worths -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Historical_net_worths
      </li>

      <% @user.historical_net_worths.each do |historical_net_worth| %>
        <li class="list-group-item">
          <a href="/historical_net_worths/<%= historical_net_worth.id %>">
            <%= historical_net_worth.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/historical_net_worths/<%= historical_net_worth.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/historical_net_worths/<%= historical_net_worth.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_historical_net_worth/<%= historical_net_worth.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
