<div class="page-header">
  <h3>Liability Type #<%= @liability_type.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Mortgage</dt>
      <dd><%= @liability_type.mortgage %></dd>

      <dt>Student loan</dt>
      <dd><%= @liability_type.student_loan %></dd>

      <dt>Credit card</dt>
      <dd><%= @liability_type.credit_card %></dd>

      <dt>Car loan</dt>
      <dd><%= @liability_type.car_loan %></dd>

      <dt>Other liabilities</dt>
      <dd><%= @liability_type.other_liabilities %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/liability_types" class="btn btn-primary">
        Back
      </a>
      <a href="/liability_types/<%= @liability_type.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_liability_type/<%= @liability_type.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Liability type has many liabilities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Liabilities
      </li>

      <% @liability_type.liabilities.each do |liability| %>
        <li class="list-group-item">
          <a href="/liabilities/<%= liability.id %>">
            <%= liability.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/liabilities/<%= liability.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/liabilities/<%= liability.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_liability/<%= liability.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_liability" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for liabilities_value_total_id -->
      <div class="form-group">
        <label for="liabilities_value_total_id" class="control-label">
          Liabilities value total
        </label>

        <input type="text" id="liabilities_value_total_id" name="liabilities_value_total_id" placeholder="Liabilities value total" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :age), :class => "form-control") %>
      </div>

      <!-- Label and input for liabilities_type_id -->
      <div class="form-group">
        <label for="liabilities_type_id" class="control-label">
          Liabilities type
        </label>

        <%= select_tag(:liabilities_type_id, options_from_collection_for_select(LiabilityType.all, :id, :mortgage), :class => "form-control") %>
      </div>

      <!-- Label and input for liabilities_value -->
      <div class="form-group">
        <label for="liabilities_value" class="control-label">
          Liabilities value
        </label>

        <input type="text" id="liabilities_value" name="liabilities_value" placeholder="Liabilities value" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Liability
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
