<!-- Validation failure messages -->
<% if @retirement_assumption.errors.any? %>
  <% @retirement_assumption.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Retirement Assumption</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_retirement_assumption" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for age_id -->
      <div class="form-group">
        <label for="age_id" class="control-label">
          Age
        </label>

        <input type="text" id="age_id" name="age_id" placeholder="Age" class="form-control" value="<%= @retirement_assumption.age_id %>">
      </div>

      <!-- Label and input for last_year_saving_id -->
      <div class="form-group">
        <label for="last_year_saving_id" class="control-label">
          Last year saving
        </label>

        <input type="text" id="last_year_saving_id" name="last_year_saving_id" placeholder="Last year saving" class="form-control" value="<%= @retirement_assumption.last_year_saving_id %>">
      </div>

      <!-- Label and input for investment_return -->
      <div class="form-group">
        <label for="investment_return" class="control-label">
          Investment return
        </label>

        <input type="text" id="investment_return" name="investment_return" placeholder="Investment return" class="form-control" value="<%= @retirement_assumption.investment_return %>">
      </div>

      <!-- Label and input for inflation -->
      <div class="form-group">
        <label for="inflation" class="control-label">
          Inflation
        </label>

        <input type="text" id="inflation" name="inflation" placeholder="Inflation" class="form-control" value="<%= @retirement_assumption.inflation %>">
      </div>

      <!-- Label and input for increase_in_savings -->
      <div class="form-group">
        <label for="increase_in_savings" class="control-label">
          Increase in savings
        </label>

        <input type="text" id="increase_in_savings" name="increase_in_savings" placeholder="Increase in savings" class="form-control" value="<%= @retirement_assumption.increase_in_savings %>">
      </div>

      <!-- Label and input for annual_savings -->
      <div class="form-group">
        <label for="annual_savings" class="control-label">
          Annual savings
        </label>

        <input type="text" id="annual_savings" name="annual_savings" placeholder="Annual savings" class="form-control" value="<%= @retirement_assumption.annual_savings %>">
      </div>

      <!-- Label and input for initial_savings -->
      <div class="form-group">
        <label for="initial_savings" class="control-label">
          Initial savings
        </label>

        <input type="text" id="initial_savings" name="initial_savings" placeholder="Initial savings" class="form-control" value="<%= @retirement_assumption.initial_savings %>">
      </div>

      <!-- Label and input for retirement_income -->
      <div class="form-group">
        <label for="retirement_income" class="control-label">
          Retirement income
        </label>

        <input type="text" id="retirement_income" name="retirement_income" placeholder="Retirement income" class="form-control" value="<%= @retirement_assumption.retirement_income %>">
      </div>

      <!-- Label and input for retirement_age -->
      <div class="form-group">
        <label for="retirement_age" class="control-label">
          Retirement age
        </label>

        <input type="text" id="retirement_age" name="retirement_age" placeholder="Retirement age" class="form-control" value="<%= @retirement_assumption.retirement_age %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :age, @retirement_assumption.user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Retirement Assumption
      </button>
      or
      <a href="/retirement_assumptions">Cancel</a>
    </form>
  </div>
</div>
